<h2><%= Time.now.strftime("%B") %>'s workouts</h2>
<div id="month_calendar">
	<ul>
		<% Time.now.beginning_of_month.to_date.step(Time.now.end_of_month.to_date, 1.day) do |day| %>
			<li class="<%=calendar_item_class(@user, day) %>"><span class="<%= day.strftime('%d%m%y') %>"><%= day.day %></span></li>
		<% end %>
	</ul>
</div>
